.Donatebody{
    margin:0px;
    background-image: url("../../../public/pickawood-gf8e6XvG_3E-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family:  'Comfortaa', cursive;
    
}
.formbox{
    margin:0px;
    padding-top:80px;
    padding-bottom:50px;
    
}

.formbox h2{
    width:300px;
    margin:auto;
    margin-top:0px;
    font-weight: 600;
    
}

#Donateform{
    background-color: rgba(0, 0, 0, 0.459);
    width:700px;
    margin:auto;
    margin-top:80px;
    padding:12px;
    margin-bottom:90px;
}

.sec{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:10px;
}

#Donateform label{
    display:block;
}

.input_donate{
    width:320px;
    height:25px;
    outline:0px;
    border:1px solid black;
}

#email{
    width:320px;
    height:25px;
    outline:0px;
    border:1px solid black;
}

.payment_method{
    width:324px;
    height:29px;
    border:1px solid black;
}

.pay{
    width:130px;
    margin:auto;
}

#pay{
    width:150px;
    height:32px;
    font-family:  'Comfortaa', cursive;
    font-size: 1.1em;
    background-color: blue;
    color:white;
    border:0px;
    margin-top:20px;
    border-radius:7px;
    box-shadow: -2px -2px 6px rgb(51, 45, 74);
    font-weight: 200;
}
#pay:hover{
    box-shadow: 2px 2px 6px rgb(51, 45, 74);
    font-weight: 800;
}