footer{
    background-color: rgb(248, 241, 241);
    color:black;;
    width:120vw;
    
}
#awkward{
    text-align: center;
    width: 100vw;
    /* background-color: aqua; */
}
.first{
    min-height: 300px ;
    max-width: 20vw;
    background-color: rgba(112, 112, 221, 0.347);
    border-radius: 10px;
    padding: 1%;
    text-align: center;
}
.section{
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;
}