.form h2{
    margin:auto;
    width:500px;
}
.form{
    background-image: url('../../../public/luca-bravo-9l_326FISzk-unsplash-scaled.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin:0px;
    padding-top:50px;
    padding-bottom:50px;
    
}
#helpform{
    max-width:500px;
    background-color:rgba(0, 0, 0, 0.574);
    color:white;
    margin:auto;
   
    margin-top:60px;
    padding:50px;
}

.input_help{
    
    margin-bottom:6px;
    border:1px solid black;
    height:27px;
    padding:1px;
    
    width:230px;
    outline:0px;
    font-family: 'Comfortaa', cursive;
    font-size:16px;
    padding-left: 12px;
    font-weight: 800;
}

.label_help{
    font-family: 'Comfortaa', cursive;
    display:block;
    font-weight: 400;
    margin-top:5px;
}

.help_for_email{
    width:483px;
}

.phone_no{
    width:483px;
}

#text{
    width:490px;
    border-radius:0px;
}

.name{
    display:flex;
    justify-content:space-between;
}

.help_submit{
    display:block;
    width:130px;
    height:36px;
    background-color:blue;
    color:white;
    border-radius:6px;
    margin:auto;
    margin-top:20px;
    outline:0px;
    font-size: larger;
    box-shadow: 2px 2px 9px rgb(68, 68, 122);
}

.help_submit:hover{
    box-shadow: -1px -1px 6px rgb(68, 68, 122);
}

